
* {
    font-family: Montserrat;
}

.background-picture {
  background-image: url("images/background-dandelion.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  width: 890px;
  height: 697px;
  position: absolute;
  top: 22;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}  

.product-card-wrapper {
  margin: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1110px;
  height: 1291px;
  gap: 35px;
  margin-top: 440px;
}

.heading {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
}

.product-card { 
  width: 340px;
  min-height: 573px;
  background: #F7F7FA;
  color: #515076;
  box-shadow:2px 2px 10px rgba(81, 80, 118, 0.1);
}

.product-card__image {
  display: block;
  width: 290px;
  margin: 25px auto;
}

.product-card__for-skin {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
}

.product-card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  padding: 5px 0 5px 0px;
}

.product-card__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  padding: 5px 0 15px 0px;
}

.product-card__text {
  color: #515076;
  padding-bottom: 5px;
}

.product-card_composition {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-card__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
  padding-left: 1px;
}

.product-card__price {
  padding-left: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;  
  padding-left: 200px;
}
